# Replace them and copy to file `env`
USERNAME=Your mail address
PASSWORD=Your password
MACKEREL_API_KEY=Your mackerel api key. ex: o6nj4XRKhHqNpTPkE9Z3wsPGWGDbf
MACKEREL_SERVICE_URL=Your mackerel service url for webhook. ex: https://api.mackerelio.com/api/v0/services/FOLIO/tsdb
SKIP_JP_HOLIDAY=1
